<ion-header>
  <ion-toolbar>
    <ion-title>Gráficos de gastos</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="this.goBack()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Gastos del mes</h1>
  <div class="graph">
    <div *ngIf="this.viewPieChart == true, then torta else barras"></div>
      <ng-template #torta>
        <h2>{{ meses[mesNum -1] }} {{ anio }}</h2>
        <canvasjs-chart 
        [options]="chartOptionsPie" [styles]="{width: '100%', height:'400px'}"
        (chartInstance)="getChartInstance($event)"></canvasjs-chart>

        
      </ng-template>

      <ng-template #barras>
        <h2>Gastos y ahorros anuales</h2>
        <canvasjs-chart 
        [options]="chartOptionsCol" [styles]="{ width: '100%', height:'55%' }" 
        (chartInstance)="getChartInstance($event)"></canvasjs-chart>
      </ng-template>
  </div>
</ion-content>

<ion-footer>
  <ion-button expand="block" *ngIf="this.viewPieChart" (click)="onButtonChart('anual')">Ver Comparativa anual</ion-button>
  <ion-button expand="block" *ngIf="!this.viewPieChart" (click)="onButtonChart('gasto')">Ver Gasto mensual</ion-button><!--
  <ion-segment value="gasto" color="warning" (ionChange)="onChangeChart($event)">
    <ion-segment-button value="gasto">
      <ion-label>Gasto mensual</ion-label>
    </ion-segment-button>
    <ion-segment-button value="anual">
      <ion-label>Comparativa anual</ion-label>
    </ion-segment-button>
  </ion-segment>-->
</ion-footer>