<ion-header>
  <ion-toolbar>
    <ion-title>Umbral de gasto</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="this.cancelar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="margin-top: 40px;">Establecer umbral mensual</h1>

  <h2 style="margin-top: 45px;">Umbral: {{ umbral }}%</h2>
  
  <ion-range style="margin-top: 20px;" min="0" max="100" step="1" (ionInput)="onIonInput($event)">
    <ion-label slot="start">1</ion-label>
    <ion-label slot="end">100</ion-label>
  </ion-range>

  <ion-button class="confirm" color="success" expand="block" (click)="cargar()" [disabled]="umbral == ''">
    Cargar umbral
  </ion-button>
  
</ion-content>
