h1 {
    margin-left: 20px;
    margin-top: 30px;
    font-weight: 600;
}

ion-input {
    margin-left: 3%;
    width: 94%;
    margin-top: 40px;
}

ion-button.confirm {
    
    height: 50px;
    margin-top: 150px;
}