h1 {
    margin-left: 90px;
    margin-top: 45px;
    font-weight: 600;
}

ion-input {
    margin-left: 3%;
    width: 94%;
    margin-top: 55px;
}

ion-button.confirm {
    
    height: 50px;
    margin-top: 120px;
}