h2 {
    margin-left: 10px;
}

ion-input {
    margin-left: 3%;
    width: 94%;
    margin-top: 20px;
}

ion-select {
    margin-left: 3%;
    width: 94%;
    margin-top: 20px;
}

ion-button.confirm {
    
    height: 50px;
    margin-top: 50px;
}