<ion-header>
  <ion-toolbar>
    <ion-title>Cargar gastos</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="this.goBack()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Egreso</h1>
  
  <ion-input fill="solid" type="number"></ion-input>

  <h1>Categoría</h1>
  <ion-select fill="solid" interface="popover" >
    <ion-select-option>Alimentos</ion-select-option>
    <ion-select-option>Transporte</ion-select-option>
    <ion-select-option>Salud</ion-select-option>
    <ion-select-option>Impuestos</ion-select-option>
    <ion-select-option>Servicios</ion-select-option>
  </ion-select>

  <ion-button expand="block">Cargar egreso</ion-button>
  
</ion-content>