<ion-header>
  <ion-toolbar>
    <ion-title>Cargar gastos</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="this.cancelar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Egreso</h2>
  
  <ion-input fill="solid" placeholder="0" type="number" [(ngModel)]="importe"></ion-input>

  <h2>Categoría</h2>
  <ion-select fill="solid" interface="popover" (ionChange)="onIonChange($event)">
    <ion-select-option value="alimentos">Alimentos</ion-select-option>
    <ion-select-option value="transporte">Transporte</ion-select-option>
    <ion-select-option value="salud">Salud</ion-select-option>
    <ion-select-option value="impuestos">Impuestos</ion-select-option>
    <ion-select-option value="servicios">Servicios</ion-select-option>
  </ion-select>

  <ion-button class="confirm" color="success" expand="block" [disabled]="categoria == '' || importe == 0" (click)="cargar()">
    Cargar egreso
  </ion-button>
  
</ion-content>