<ion-header>
  <ion-toolbar>
    <ion-title>
      Control de gastos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home">
    <ion-list>
      <ion-item>Sueldo: {{ this.sueldoMensual.ingreso }} cargado: {{this.sueldoCargado}}</ion-item>
      <ion-item>Umbral: {{ this.umbralMensual.umbral }} cargado: {{this.umbralCargado}}</ion-item>
      <ion-item>Gastos: {{ this.gastosMensuales }} cargado: {{this.gastosCargados}}</ion-item>
    </ion-list>

    <ion-button (click)="openModal('ingreso')">
      Cargar sueldo
    </ion-button>
    <ion-button (click)="openModal('egreso')">
      Cargar gasto
    </ion-button>
    <ion-button (click)="openModal('umbral')">
      Establecer umbral mensual
    </ion-button>
    <ion-button (click)="navigate()">
      Visualizar gráfico de gastos
    </ion-button>
    <ion-fab slot="fixed" vertical="bottom" horizontal="start">
      <ion-fab-button color="danger" (click)="cerraSesion()"><ion-icon name="power-sharp" size="large"></ion-icon></ion-fab-button>
    </ion-fab>
  </div>
  
</ion-content>
