
div.home {
  height: 100%;
  width: 100%;

  color: #ffffff;
  background-color: #1d1c1c;
  border: solid 3px #2bff00a2;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
h2 {
  color: #111111;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

ion-content {
  --overflow: hidden;
  --background: #144909;
}

ion-button {
  text-transform: initial;
  //margin-left: 0.5rem;
  //margin-right: 0.5rem;
  //margin-bottom: 3%;
  //margin-top: 3%;
  font-weight: 600;
  height: 100%;
  width: 100%;
}

ion-grid {
  margin-top: 15%;
  width: 100%;
}

ion-col.head {
  height: 120px;
}

ion-col.body {
  height: 140px;
}
