<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      Control de gastos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home">
    <ion-card>
      <ion-card-subtitle><h2>Gastos:</h2></ion-card-subtitle>
      <ion-card-title><h1 [ngStyle]="{'color': this.umbralSuperado ? 'var(--ion-color-danger)' : 'var(--ion-color-dark)'}"
        >{{ this.gastoTotal | currency : 'USD' : 'symbol' :'4.2-2'}}</h1></ion-card-title>
      <h2 style="color: var(--ion-color-danger);" *ngIf="umbralSuperado == true">Umbral superado!</h2>
    </ion-card>
    <ion-card>
      <ion-card-subtitle><h2>Sueldo:</h2></ion-card-subtitle>
      <ion-card-title><h2>{{ this.sueldoMensual.ingreso | currency : 'USD' : 'symbol' :'4.2-2'}}</h2></ion-card-title>
    </ion-card>
    <ion-card>
      <ion-card-subtitle><h2>Umbral: {{ this.umbralMensual.umbral }}%</h2></ion-card-subtitle>
      <ion-card-title><h2>Cálculo: {{this.calculoUmbral | currency : 'USD' : 'symbol' :'4.2-2'}}</h2></ion-card-title>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="head">
          <ion-button color="tertiary" (click)="openModal('ingreso')">
            Cargar Sueldo
          </ion-button>
        </ion-col>
        <ion-col class="head">
          <ion-button color="tertiary" (click)="openModal('egreso')">
            Cargar Gasto
          </ion-button>
        </ion-col>
        <ion-col class="head">
          <ion-button color="tertiary" (click)="openModal('umbral')">
            Establecer Umbral
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="body">
            <ion-button style="font-size: 1.2rem;" color="secondary" (click)="navigate()">
            Visualizar gráficos de gastos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
<!--
    <ion-button (click)="openModal('ingreso')">
      Cargar sueldo
    </ion-button>
    <ion-button (click)="openModal('egreso')">
      Cargar gasto
    </ion-button>
    <ion-button (click)="openModal('umbral')">
      Establecer umbral mensual
    </ion-button>
    <ion-button (click)="navigate()">
      Visualizar gráfico de gastos
    </ion-button>-->
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="danger" (click)="cerraSesion()"><ion-icon name="power-sharp" size="large"></ion-icon></ion-fab-button>
    </ion-fab>
  </div>
  
</ion-content>
